@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    background-color: #2C2A3C;
    margin: 0;
    justify-content: center;
}

.container {
    width: 320px;
    margin-top: 50%;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, #7ad6a2, #7ad89f, #7bda9c, #7cdc98, #7dde94, #7fdd90, #81db8d, #83da89, #85d686, #87d183, #89cd80, #8ac97d);
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

/* Display Styles */

.display {
    display: flex;
    height: 190px;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Display Number Styles */

h1 {
    margin: 0;
    color: white;
    font-size: 50px;
    padding: 0 10px 5px 0;
}

.largeSize {
    font-size: 60px;
}

.regSize {
    font-size: 50px;
}

.smallSize {
    font-size: 40px;
}

.xsmallSize {
    font-size: 28px;
    padding-bottom: 15px;
}

/* Button Styles */

button { 
    font-size: 19px;
    border: none;
}

button:hover {
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

*:focus {
    outline: 0;
}

.col {
    width: 25%;
    height: 70px;
    background-color: #ececec;
}

.activeOperator {
    width: 25%;
    height: 70px;
    color: white;
    background-color: transparent;
}

.num {
    background-color: white;
}

.lCorner {
    border-bottom-left-radius: 8px;
}

.rCorner {
    border-bottom-right-radius: 8px;
}

